version: '3'

services:
  import-service:
    build:
      context: ./import-service
      dockerfile: Dockerfile
    container_name: import-service
    restart: unless-stopped
    env_file:
      - ./import-service/.env
    ports:
      - 4000:4000
    networks:
      - app-network
    depends_on:
      mongodb:
        condition: service_started
  
  client-api:
    build:
      context: ./client-api
      dockerfile: Dockerfile
    container_name: client-api
    restart: unless-stopped
    env_file:
      - ./client-api/.env
    ports:
      - 4001:4001
    networks:
      - app-network
    depends_on:
      mongodb:
        condition: service_started

  mongodb:
    image: mongo:6-jammy
    container_name: mongodb
    restart: unless-stopped
    ports:
      - 27017:27017
    volumes:
      - dbdata:/data/db
    networks:
      - app-network
    command: mongod --quiet --logpath /dev/null

networks:
  app-network:
    driver: bridge

volumes:
  dbdata:
  