version: '3'

services:
  import-service:
    build:
      context: .
      dockerfile: ./import-service/Dockerfile.dev
    image: node:18-alpine
    container_name: import-service
    restart: unless-stopped
    env_file: .env
    environment:
      - MONGODB_URI=$MONGODB_URI
      - MONGO_DB=$MONGO_DB
    ports:
      - "4000:4000"
    volumes:
      - ./import-service:/app
      - /app/node_modules
    networks:
      - app-network
    command: sh /wait-for.sh mongodb:27017 -- npm run dev
  mongodb:
    image: mongo:6-jammy
    container_name: mongodb
    restart: unless-stopped
    ports:
      - 27017:27017
    volumes:
      - dbdata:/data/db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  dbdata:
  node_modules: